body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: none;
    background: black;
    color: silver;
}

.custom-cursor {
    width: 15px;
    height: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10000;
}

.custom-cursor:before,
.custom-cursor:after {
    content: '';
    position: absolute;
    background-color: #333;
    width: 2px;
    height: 100%;
}

.custom-cursor:before {
    transform: rotate(45deg);
}

.custom-cursor:after {
    transform: rotate(-45deg);
}

header {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1,
header p,
h2 {
    color: goldenrod;
}

nav {
    background: #f0f0f0;
    padding: 10px;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

.nav-button {
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
    display: inline-block;
}

.nav-button:hover {
    background: #f0f0f0;
}

.skill-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.progress-bar-label {
    text-align: left;
}

.text-source {
    display: none; /* Hide the original content */
}
